# From Address to Latitude and Longitude

This code generates a dataframe of property addresses, and then uses these addresses to calculate its corresponding geographical coordinates.

Code distributed via open source under MIT license.

>Created on 2023-June-22 by Edwin.Campos@heitman.com . Last Modification on 2023.June.22 by ecampos.phd@gmail.com

In [1]:
! pip install geopy

Requirement already satisfied: geopy in c:\users\campose\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\campose\anaconda3\lib\site-packages (from geopy) (2.0)

In [2]:
import pandas as pd
from geopy.geocoders import Nominatim

In [3]:
df = pd.DataFrame({'Location':
                  ['33620 21st Avenue SW,Federal Way, WA,98023',
                  '6615 North Beach Street,Ft Worth,TX,76137',
                  '1950 West Lake Houston Pkwy,Houston,TX,77379',
                  '1800 Busse Hwy,Des Plaines,IL,60016',
                   '60 E Lake St, Northlake, IL 60164',
                  '203 Broadway,Jersey City,NJ,07306',
                  '606 Vandalia Street,St Paul,MN,55114',
                  '63 Cortlandt Street,Tarrytown,NY,10591',
                  '356 Belmont Avenue,Brooklyn,NY,11207',
                  '87-40 121st Street,Queens,NY,11418']})
display(df)

                                       Location
0    33620 21st Avenue SW,Federal Way, WA,98023
1     6615 North Beach Street,Ft Worth,TX,76137
2  1950 West Lake Houston Pkwy,Houston,TX,77379
3           1800 Busse Hwy,Des Plaines,IL,60016
4             60 E Lake St, Northlake, IL 60164
5             203 Broadway,Jersey City,NJ,07306
6          606 Vandalia Street,St Paul,MN,55114
7        63 Cortlandt Street,Tarrytown,NY,10591
8          356 Belmont Avenue,Brooklyn,NY,11207
9            87-40 121st Street,Queens,NY,11418

In [4]:
geolocator = Nominatim(user_agent="myApp")

df[['location_lat', 'location_long']] = df['Location'].apply(
    geolocator.geocode).apply(lambda x: pd.Series(
    [x.latitude, x.longitude], index=['location_lat', 'location_long']))
display(df)

                                       Location  location_lat  location_long
0    33620 21st Avenue SW,Federal Way, WA,98023     47.300003    -122.358983
1     6615 North Beach Street,Ft Worth,TX,76137     32.860554     -97.290165
2  1950 West Lake Houston Pkwy,Houston,TX,77379     30.036597     -95.174430
3           1800 Busse Hwy,Des Plaines,IL,60016     42.037934     -87.878614
4             60 E Lake St, Northlake, IL 60164     41.900986     -87.899515
5             203 Broadway,Jersey City,NJ,07306     40.736895     -74.075136
6          606 Vandalia Street,St Paul,MN,55114     44.959152     -93.189981
7        63 Cortlandt Street,Tarrytown,NY,10591     41.078364     -73.864589
8          356 Belmont Avenue,Brooklyn,NY,11207     40.670525     -73.896786
9            87-40 121st Street,Queens,NY,11418     40.699428     -73.828646

In [5]:
OUTPUT_PATH = './'
OUTPUT_FILENAME = 'Latitude_Longitude_wAddress.csv'
df.to_csv(OUTPUT_PATH+OUTPUT_FILENAME, index=False)